body {

background:#2B2B2B; 

}

#thehead{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	background:black;
	margin-bottom:5px;
	height: 100px;

}
#thehead {
	color:white;
	font-family:arial;
	position: relative; 
	width: 900px;

}
h1 { 
   position: absolute; 
   top: -15px; 
   left: 0; 
   width: 100%; 
   padding:10px;
   font-size:36px;
   
}
#navigator ul li{
	color:white;
	font-family:arial, verdana, sans-serif;
	margin-left: 80px;
	text-decoration: none;
	font-size:12px;
	display:inline-block;
	/*list-style:none;*/
	

}
#container {
	width:900px;
	margin-left:auto;
	margin-right:auto;

}

#navigator ul {
	background: black;
	text-decoration: none;

}
.bannertop {	
	background: black;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	height:400px; 
}
.sidepicleft{
	float: left;
	margin-left:-260px;
	margin-top:-225px;
}
.sidepicright{
	float:right;
	margin-right:-260px;
	margin-top:-225px;
}

.midsection h2{
color:white;
padding:10px;
width:400px;
font-family:arial;
font-size:25px;


}
.midsection p{
color:white;
padding:10px;
width:400px;
padding-top:0px;
font-family:arial;
font-size:12px;



}
.frontmenu {
	width:230px;
	height:130px; 
	background:#C63D0F; 
	float:left; 
	margin-left: 30px;
	margin-top: 10px;
	
}
select {
	color:black;
	font-family: verdana;
	font-size:15px;
	width:230px;
	height:110px; 
	background-color:#C63D0F;
}

.frontdisplay {	
	background: #C63D0F;
	width:230px;
	height:130px; 
	float:left; 
	margin-left:75px;
	margin-top: 10px;
}
.frontorder {	
	background: #C63D0F;
	width:230px;
	height:130px; 
	float:left;
	margin-left:75px;
	margin-top: 10px;

}
.frontorder p {
	font-size: 14px;
}
.bannerzone{	
	background: black;
	margin-left:auto;
	margin-right:auto;
}
.bannerleft{	
	background: red;
	width:150px;
	height:400px;
}

.bannerright{	
	background: red;
	width:150px;
	height:400px;
	margin-top:100px;
}



#footer {
	background: black; 
	margin-top: 50px;
	width:900px;
	height:20px;
	margin-left: auto;
	margin-right: auto;
	color:white;
	text-align:center;
	font-family:verdana;
	font-size:14px;
	
	}

.orderzone{
	background-color: black;
	height: 150px;
	width: 900px;
}
#pizzameny {

	color:white;
	font-family:verdana;
	font-size: 13px;
	background-color:black;
	padding:15px;

}
#containerformeny {

	width:900px;
	margin-left:auto;
	margin-right:auto;


}



