@media print{
    h2.h3: ;
    page-break-before: always;
    }

@page :left {
  margin-left: 5cm;
  margin-right: 4cm;
}

@page :right {
  margin-left: 4cm;
  margin-right: 5cm;
}

@media all
{
.page-break { display:none; }
}
p{
text-align: center;
text-size: 32pt;
}

title {
    font-size: 28px;
}

header nav, footer{
display: none;
}

blockquote, ul{
margin: 0;
}

ul{list-style: none}

#navigator
{
display: none;
}

